<link rel="stylesheet" href="/css/login.css">
<div class="center">
    <h1>Login</h1>
    <form action="/admin/login" method="post">
        <div class="txt_field">
            <input type="text" required name="email">
            <label for="username">Email</label>
        </div>
        <div class="txt_field">
            <input type="password" required name="senha">
            <label for="senha">Senha</label>
        </div>
        <div class="pass">
            Esqueceu a senha ?
        </div>
        <input type="submit" value="Entrar">
        <div class="signup_link">
            <a href="/admin/register">Registre-se</a>
        </div>
    </form>
</div>