<link rel="stylesheet" href="/css/registro.css">
<div class="center">
    <h1>Login</h1>
    <form action="" method="post">
        <div class="txt_field">
            <input type="text" required name="nome">
            <label for="nome">Nome completo</label>
        </div>
        <div class="txt_field">
            <input type="text" required name="empresa">
            <label for="empresa">Empresa</label>
        </div>
        <div class="txt_field">
            <input type="text" required name="cidade">
            <label for="cidade">Cidade</label>
        </div>
        <div class="txt_field">
            <input type="text" required name="nasc">
            <label for="nasc">Data de Nascimento</label>
        </div>
        <div class="txt_field">
            <input type="text" required name="email">
            <label for="username">Email</label>
        </div>
        <div class="txt_field">
            <input type="password" required name="senha">
            <label for="senha">Senha</label>
        </div>
        <div class="txt_field">
            <input type="password" required name="csenha">
            <label for="csenha">Confirme sua senha</label>
        </div>
        <input type="submit" value="Entrar"></br>
    </form>
</div>