{{>_sidebar}}
<div class="card-container">
    {{#each user}}
    <div class="card">
        <img src="/img/userLogo.png" alt="">
        <div class="card-content">
            <p><i class='bx bxs-user' ></i>Nome do usuáro Usuário:{{nome}}</p>
            <p><i class='bx bxs-city'></i>Cidade:{{cidade}}</p>
            <p><i class='bx bx-envelope' ></i></i>Email:{{email}}</p>
            <p><i class='bx bxs-calendar'></i>Criou a conta em:{{createdAt}}</p>
            <a href="" class="btn">Excluir Conta</a><br>
            <a href="" class="btn">Alterar Dados</a>
        </div>
    </div> 
    {{/each}} 

</div>

<script>
    const navBar = document.querySelector('nav'),
          menuBtns = document.querySelectorAll('.menu-icon')

    menuBtns.forEach((menuBtn)=>{
        menuBtn.addEventListener('click',()=>{
            navBar.classList.toggle('open')
        })
    })
</script>