{{>_navbar}}
<h1>Registre sua ocorrência</h1>
<link rel="stylesheet" href="/css/registroEalteracao.css">
<form action="/user/regis_call" method="post">
    <label for="ocorrencias">Tipo de ocorrência/Urgência</label>
<div class="select-container">
    <select class ="select-box" name="ocorrencias">
        {{#each ocorrencias}}
            <option value="{{id}}">{{status}}</option>
        {{/each}}
    </select>
    <select class ="select-box" name="prioridade">
        <option id="opt" value="alta">Urgente</option>
        <option id="opt" value="media">Mediano</option>
        <option id="opt" value="baixa">Leve</option>
    </select>
</div><br>
    <input type="submit" value="Enviar" id="btn">
</form>