<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/>
{{>_navbar}}
<h1>Registre sua ocorrência</h1><br>
<link rel="stylesheet" href="/css/registroEalteracao.css">
<form action="/user/regis_call" method="post">
    <label for="ocorrencias">Tipo de ocorrência/Urgência</label>
<div class="select-container">
    
    <br><select class ="select-box" name="ocorrencias">
        <option value="">Qual o tipo de chamado? &#xf063</option>
        {{#each ocorrencias}}
            <option value="{{id}}">{{status}}</option>
        {{/each}}
    </select><br><br>
    <select class ="select-box" name="prioridade">
        <option value="">Selecione a prioridade do chamado &#xf063</option>
        <option id="opt" value="alta">Urgente</option>
        <option id="opt" value="media">Mediano</option>
        <option id="opt" value="baixa">Leve</option>
    </select>
    <br><br><textarea name="descricao" id="descricao" placeholder="  Adicione uma descrição para o chamado."></textarea><br><br>
    <input type="submit" value="Enviar" id="btn">
</div><br>
    
</form>