<link rel="stylesheet" href="/css/login.css">
<div class="center">
    <h1>Login</h1>
    <form action="">
        <div class="txt_field">
            <input type="text" required>
            <label for="username">Username</label>
        </div>
        <div class="txt_field">
            <input type="password" required>
            <label for="senha">Senha</label>
        </div>
        <div class="pass">
            Esqueceu a senha ?
        </div>
        <input type="submit" value="Entrar">
        <div class="signup_link">
            <a href="#">Registre-se</a>
        </div>
    </form>
</div>