<link rel="stylesheet" href="/css/navbar.css">
<nav>
    <label for="" id="logo"><a href = "/user/home">HelpDesk</a></label>
    <ul>
        <li><a href="/user/home">Home</a></li>
        <li><a href="">Sobre</a></li>
        <li><a href="/user/call">Registrar Chamado</a></li>
        <li><a href="/user/logoff">Sair</a></li>
    </ul>
</nav>

